



<!-- 
<div style="background-color: #ffffff;height: 50px;color: rgb(0, 0, 0);justify-content: center;
align-items: flex-end;display: flex;">
    <p><b>&copy;Trần Huy Hậu</b></p>
</div> 
-->
<div id="footer_contact">
    <hr>    
        <div class="wrapper">
            
            <div class="inner">
                 <div class="grid__item large--one-whole">
                     <div class="content_ft_contact">
                            
                         <div class="content"> 
                            <div style="background-color: #DAC08C;height: 50px;color: rgb(0, 0, 0);justify-content: center;align-items: flex-end;display: flex; ">
                                    <h3>Hotline của chúng tôi luôn đón chào quý khách</h3>     
                            </div>
                        </div>
                        <div class="content"> 
                            <div style="background-color: #DAC08C;height: 50px;color: rgb(0, 0, 0);justify-content: center;align-items: flex-end;display: flex;">
                                    <!--<img src="//theme.hstatic.net/200000061680/1000549213/14/icon_ft_contact_cus.png?v=763">-->                               
                                    
                                    <h3>19002267</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>                      
        </div>  
    <hr>
</div>

<div class="hihi" >
    <div class="left-column">
        <div class="col-md-4">
            <img src="https://doji.vn/wp-content/themes/main/assets/images/home/logo.png" alt="logo" />
            <p></p>
            <p>Số lượng truy cập hiện tại: 100</p>
        </div>
        <div class="col-md-8">
            <h4>Thành viên</h4>
            <p>Võ Bá Thành Nhân</p>
            <p>Trần Hoàng Anh</p>
            <p>Nguyễn Đức Đạo</p>
        </div>
        
    </div>
    <div class="right-column">
                   
            <h4>DOJI - Cửa hàng trang sức</h4>
            
            <p>Địa chỉ: HUTECH Thuduc Campus - Khu CNC, Phường Hiệp Phú, Tp. Thử Đức, Tp. Hồ chí Minh</p>
            <p>SĐT: <a class="info" href="tel:0938821212">0938.821.212</a> (Đức Đạo)</p>
            <p>Email: <a class="info" href="mailto: 12345@gmail.com">12345@gmail.com</a></p>
        
    </div>
    
</div>